<nav class="nav-color">
  <div class="class nav-wrapper container">
    <a href="/stories" class="brand-logo center">
      <img class="logo-size logo-header" src="/img/vector/default-monochrome.svg" alt="Daily Journal logo">
    </a>      
    
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large hamburger-menu"><i
        class="fas fa-bars"></i></a>
    <ul class="sidenav nav-color" id="mobile-demo">
      <li><a href="/stories">Public Journals</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>