<div class="mb-3 fw-bold">
  <img class="logo-size" src="img/vector/default-monochrome.svg" alt="Daily Journal logo">
</div>

<div class="mb-3">
  <p class="word-spacing text-white text-md">Create beautiful writing from your ideas or feelings.</p>
</div>

<a href="/auth/google"
  class="btn-large login-button word-spacing flex align-center justify-center text-bold">
  <i class="fab fa-google fs-5"></i> <span class="ml-1">Log in with Google</span>
</a>